<app-header></app-header>
<app-contact></app-contact>
<!-- <button (click)="getname('Rami!!!')">click it </button>

<br> <br>
<input type="text" #box1 (keyup)="getdata(box1.value)">
<br>
<input type="text" #box2 (blur)="getdata(box2.value)"> -->

<!-- <h1 (mouseover)="getdata('mouse over')"> Rami</h1> -->
<!--
<input type="text" #box name="username" (keyup)="getuser(box.value)" placeholder="Enter Your name">

<h1>Hello {{displayval}}</h1> -->
<!-- <input type="text" #box name="username"  placeholder="Enter Your name">
<button (click)="getuser(box.value)">click it </button>
<h1>Hello {{displayval}}</h1>  -->
<!--
<button (click)="counter('minus')">--</button>

<p>Count: {{count}}</p>

<button (click)="counter('add')">++</button> -->
<!-- <input type="text" value="{{name}}"  >
<br><br><br>
<input type="text" [value]=name  >  -->
<!-- 
<h2 *ngIF="show=='yes';then ifblock else elseBlock"></h2>
 <ng-template #ifblock>
    <h2>its true!!!!! </h2>
</ng-template> 
<ng-template #elseBlock>
    <h2>its false! </h2>
</ng-template> -->

<!-- <ng-template [ngIF]="color==='red'">
    <h2 style="color: red;">red color </h2>
</ng-template>

<ng-template [ngIF]="color==='green'">
    <h2 style="color: green;">green color </h2>
</ng-template>

<ng-template [ngIF]="color==='yellow'">
    <h2 style="color: yellow;">red color </h2>
</ng-template> -->

<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;"> Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;"> Green Color</h1>
    <h1 *ngSwitchCase="'yellow'" style="color: yellow;"> Yellow Color</h1>
    <h1 *ngSwitchDefault> Unknown Color</h1>
</div> -->
<!-- <h2 *ngFor="let item of users">{{item}}</h2>

<h2 *ngFor="let items of detials">
    {{items.name}} ------- {{items.email}}
</h2> -->
<!-- <ul *ngFor="let user of usersdetials">
   <li> {{user.name}}</li>
   <li>{{user.email}}</li>
   <ul *ngFor="let account of user.accounts">
       <li>{{account}}</li>
   </ul>
</ul> -->


